{% extends 'base.twig' %}
{% block title %}
<title>{{ lang.front_page }} - {{ settings.title_text }}</title>
{% endblock title %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<ol class="breadcrumb">
  <li>{{ lang.front_page }} {{ dateStart|date("Y") }}</li>
</ol>

{% if show_columns.search_field != "hide" %}
<div class="col-md-4 pull-right">
  <form role="form" method="GET" action="index.php">
    <input type="text" class="form-control" name="search" placeholder="{{ lang.search_reqs_and_devs }}" title="Boolean search, * is wildcard." value="{{ search_term }}" onkeyup="showHint(this.value)">
    <input type="hidden" name="year" value="{{ dateStart|date("Y") }}">
    {% if query_j %}<input type="hidden" name="j" value="{{ query_j }}">{% endif %}
    {% if query_d %}<input type="hidden" name="d" value="{{ query_d }}">{% endif %}
    {% if query_s %}<input type="hidden" name="s" value="{{ query_s }}">{% endif %}
  </form>
</div>
{% endif %}

{% if search_term %}
<h3><i class="fa fa-search"></i> {{search_term}}</h3>
{% else %}
<h3>{{ lang.forensic_examination_requests }} {{ dateStart|date("Y") }} <a href='index.php?year={{ (dateStart|date("Y") - 1 ) }}{% if query_s %}&s={{ query_s }}{% endif %}{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}'><i class="fa fa-caret-left"></i></a> <a href='index.php?year={{ (dateStart|date("Y") + 1 ) }}{% if query_s %}&s={{ query_s }}{% endif %}{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}'><i class="fa fa-caret-right"></i></a> </h3>
{% endif %}
<hr>
{% if settings.motd and show_columns.message_of_the_day != "hide"%}
<div class="panel panel-danger">
  <div class="panel-body">
    <i class="fa fa-warning"></i> {{ settings.motd|raw }}
  </div>
</div>
{% endif %}

<div class="table-responsive">
  <!--  {% if search_term %}
    <h5>{{ lang.searching_with }}4
      "{{ search_term }}"{% if query_s == "1" %} {{ lang.from_new }}</a>{% endif %} {% if query_s == "2" %} {{ lang.from_open }}{% endif %}{% if query_s == "3" %} {{ lang.from_ready }}{% endif %}, {{ lang.filter_search }}: {% if query_s != "1" %} <a href="index.php?year={{ dateStart|date("Y") }}&s=1{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"><span class="label label-primary">{{ lang.new }}</span></a>{% endif %}{% if query_s != "2" %} <a href="index.php?year={{ dateStart|date("Y") }}&s=2{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"><span class="label label-primary">{{ lang.open }}</span></a>{% endif%}{% if query_s != "3" %} <a href="index.php?year={{ dateStart|date("Y") }}&s=3{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"><span class="label label-primary">{{ lang.ready }}</span></a>{% endif %}
    </h5>
    {% endif %}
    -->
{% if row_cases %}
  <table class="table {% if settings.index_table_condensed == "1" %}table-condensed{% endif %}">
    <thead>
         <tr>
           {% if show_columns.case_no != "hide" %}
           {% if (order_by == "case_id ASC") %}
           <th style="width:1%;white-space:nowrap;" class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=1{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.number_abbrev }} <i class="fa fa-sort-numeric-asc"></i></a></th>
           {% elseif (order_by == "case_id DESC") %}
           <th style="width:1%;white-space:nowrap;" class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=1&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">Nro <i class="fa fa-sort-numeric-desc"></i></a></th>
           {% else %}
           <th style="width:1%;white-space:nowrap;"><a href="index.php?year={{ dateStart|date("Y") }}&j=1&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.number_abbrev }} <i class="fa fa-sort"></i></a></th>
           {% endif %}
           {% endif %}

           {% if show_columns.case_name != "hide" %}
           {% if (order_by == "case_name ASC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=2{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.case }} <i class="fa fa-sort-alpha-asc"></i></a></th>
           {% elseif (order_by == "case_name DESC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=2&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">case_name <i class="fa fa-sort-alpha-desc"></i></a></th>
           {% else %}
           <th><a href="index.php?year={{ dateStart|date("Y") }}&j=2&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.case }} <i class="fa fa-sort"></i></a></th>
           {% endif %}
           {% endif %}

           {% if show_columns.report_no != "hide" %}
           {% if (order_by == "case_file_number ASC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=3{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.report_no }} <i class="fa fa-sort-numeric-asc"></i></a></th>
           {% elseif (order_by == "case_file_number DESC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=3&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">Ilm. nro <i class="fa fa-sort-numeric-desc"></i></a></th>
           {% else %}
           <th><a href="index.php?year={{ dateStart|date("Y") }}&j=3&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.report_no }} <i class="fa fa-sort"></i></a></th>
           {% endif %}
           {% endif %}

           {% if show_columns.crime != "hide" %}
           {% if (order_by == "case_crime ASC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=4{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.crime }} <i class="fa fa-sort-alpha-asc"></i></a></th>
           {% elseif (order_by == "case_crime DESC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=4&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">Rikosnimike <i class="fa fa-sort-alpha-desc"></i></a></th>
           {% else %}
           <th><a href="index.php?year={{ dateStart|date("Y") }}&j=4&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.crime }} <i class="fa fa-sort"></i></a></th>
           {% endif %}
           {% endif %}

           {% if show_columns.suspect != "hide" %}
           {% if (order_by == "case_suspect ASC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=5{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.suspect_short }} <i class="fa fa-sort-alpha-asc"></i></a></th>
           {% elseif (order_by == "case_suspect DESC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=5&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">Epäilty <i class="fa fa-sort-alpha-desc"></i></a></th>
           {% else %}
           <th><a href="index.php?year={{ dateStart|date("Y") }}&j=5&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.suspect_short }} <i class="fa fa-sort"></i></a></th>
           {% endif %}
           {% endif %}

           {% if show_columns.investigator != "hide" %}
           {% if (order_by == "case_investigator ASC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=6{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.investigator }} <i class="fa fa-sort-alpha-asc"></i></a></th>
           {% elseif (order_by == "case_investigator DESC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=6&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.investigator }} <i class="fa fa-sort-alpha-desc"></i></a></th>
           {% else %}
           <th><a href="index.php?year={{ dateStart|date("Y") }}&j=6&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.investigator }} <i class="fa fa-sort"></i></a></th>
           {% endif %}
           {% endif %}

           {% if show_columns.forensic_examiner != "hide" %}
           {% if (order_by == "forensic_investigator ASC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=7{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.forensic_examiner_short }} <i class="fa fa-sort-alpha-asc"></i></a></th>
           {% elseif (order_by == "forensic_investigator DESC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=7&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.forensic_examiner_short }} <i class="fa fa-sort-alpha-desc"></i></a></th>
           {% else %}
           <th><a href="index.php?year={{ dateStart|date("Y") }}&j=7&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.forensic_examiner_short }} <i class="fa fa-sort"></i></a></th>
           {% endif %}
           {% endif %}

           {% if show_columns.mobile_examiner != "hide" %}
           {% if (order_by == "phone_investigator ASC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=8{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.mobile_examiner_short }} <i class="fa fa-sort-alpha-asc"></i></a></th>
           {% elseif (order_by == "phone_investigator DESC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=8&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.mobile_examiner }} <i class="fa fa-sort-alpha-desc"></i></a></th>
           {% else %}
           <th><a href="index.php?year={{ dateStart|date("Y") }}&j=8&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.mobile_examiner_short }} <i class="fa fa-sort"></i></a></th>
           {% endif %}
           {% endif %}

           {% if show_columns.date_added != "hide" %}
           {% if (order_by == "case_added_date ASC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=9{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.added }} <i class="fa fa-sort-asc"></i></a></th>
           {% elseif (order_by == "case_added_date DESC") %}
           <th class="active"><a href="index.php?year={{ dateStart|date("Y") }}&j=9&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">case_added_date <i class="fa fa-sort-desc"></i></a></th>
           {% else %}
           <th><a href="index.php?year={{ dateStart|date("Y") }}&j=9&d=a{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}">{{ lang.added }} <i class="fa fa-sort"></i></a></th>
           {% endif %}
           {% endif %}
           {% if show_columns.icon_attachments != "hide" %}<th></th>{% endif %}
           {% if show_columns.icon_mobile != "hide" %}<th></th>{% endif %}
           {% if show_columns.icon_report_notes != "hide" %}<th></th>{% endif %}
           {% if show_columns.device_count != "hide" %}<th></th>{% endif %}
           {% if show_columns.access_group != "hide" %}<th></th>{% endif %}

         </tr>
       </thead>
    <tbody>
      {% set counter = "0" %}
      {% set device_counter = "0" %}
      {% set new_counter = "0" %}
      {% set open_counter = "0" %}
      {% set ready_counter = "0" %}
      {% for entry in row_cases %}
      {% if (entry.id == entry.parent_id) and (entry.is_removed == "0") %}
      {% set counter = counter + 1 %}
      <tr {% if entry.case_status == "1" %}class="danger"{% set new_counter = new_counter + 1 %}{% elseif (entry.case_status == "2") and ((entry.forensic_investigator == session.user.name) or (entry.phone_investigator == session.user.name)) %}class="info"{% elseif (entry.case_status == "2") and ((entry.forensic_investigator != session.user.name) and (entry.phone_investigator != session.user.name)) %}class="warning"{% set open_counter = open_counter + 1%}{% elseif entry.case_status == "3" %}class="default"{% set ready_counter = ready_counter + 1%}{% endif %}>
      {% if show_columns.case_no != "hide" %}
      <td style="width:1%;white-space:nowrap;"><a style="font-weight:bold;" href="edit_request.php?case={{ entry.id }}">{{ entry.case_id }}/{{ entry.case_added_date|date("y") }}</a></td>
      {% endif %}

      {% if show_columns.case_name != "hide" %}
      <td>
        {% set has_new = false %}
        {% set newcount = 0 %}
        {% for device in row_devices %}
        {% if device.parent_id == entry.id %}
        {% set device_status = device.device_action|split('|') %}
        {% if (device_status.0 == 1) %}
        {% set has_new = true %}
        {% set newcount = newcount + 1 %}
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if has_new == true %}<span class="label label-danger pull-right">{{ newcount }}</span>{% endif %}
        {% if (entry.case_urgency == "1") and ( entry.case_status <= "2") %}<i title="{{ entry.case_urg_justification}} " style="color:red;" class="fa fa-bolt"></i>&nbsp;{% endif %}
        <a style="font-weight:bold;" href="edit_request.php?case={{ entry.id }}">{% if entry.case_name %}{{ entry.case_name }}{% elseif entry.case_suspect %}{{ lang.suspect_abbrev }} {{ entry.case_suspect }}{% else %}{{ lang.suspect_short }}{% endif %}{% if (entry.last_updated|date("U") < settings.stalled_case|date("U")) and (entry.case_status == "2")%}<span class="pull-right"><i style="color:blue;" class="fa fa-moon-o"></i>&nbsp;</span>{% endif %}</a>
      </td>
      {% endif %}

      {% if show_columns.report_no != "hide" %}
      <td style="width:1%;white-space:nowrap;"><a style="font-weight:bold;" href="edit_request.php?case={{ entry.id }}">{{ entry.case_file_number }}</a>
        {% if (settings.notify_after_4_months == "1") and (entry.case_confiscation_date != "0000-00-00") %}
          {% if (entry.case_confiscation_date|date("U") < ("-3 months"|date("U"))) %}
        &nbsp;<i class="fa fa-calendar-times-o" style="color:orange;"></i>
        {% elseif (entry.case_confiscation_date|date("U") < ("-4 months"|date("U"))) %}
      &nbsp;<i class="fa fa-calendar-times-o" style="color:red;"></i><i class="fa fa-exclamation" style="color:red;"></i>
          {% endif %}
        {% endif %}
      </td>
      {% endif %}

      {% if show_columns.crime != "hide" %}
      <td>{% if not entry.case_owner or session.user.username in entry.case_owner %}<a href="index.php?search={{ entry.case_crime|url_encode }}&year={{ entry.case_added_date|date("Y") }}">{{ entry.case_crime|length > 20 ? entry.case_crime|slice(0, 20) ~ '...' : entry.case_crime }}</a>{% else %}<span style="color:#CCC;">-</span>{% endif %}</td>
      {% endif %}

      {% if show_columns.suspect != "hide" %}
      <td>{% if not entry.case_owner or session.user.username in entry.case_owner %}<a href="index.php?search={{ entry.case_suspect|url_encode }}&year={{ entry.case_added_date|date("Y") }}">{{ entry.case_suspect|length > 20 ? entry.case_suspect|slice(0, 20) ~ '...' : entry.case_suspect }}</a>{% else %}<span style="color:#CCC;">-</span>{% endif %}</td>
      {% endif %}

      {% if show_columns.investigator != "hide" %}
      <td><a href="index.php?search={{ entry.case_investigator|url_encode }}&year={{ entry.case_added_date|date("Y") }}">{{ entry.case_investigator|length > 20 ? entry.case_investigator|slice(0, 20) ~ '...' : entry.case_investigator }}</a> </td>
      {% endif %}

      {% if show_columns.forensic_examiner != "hide" %}
      <td>{% if not entry.forensic_investigator %}<b style="color:red">{{ lang.no_examiner_assigner }}</b>{% endif %}
        <a href="index.php?search={{ "\"" ~ entry.forensic_investigator ~ "\""|url_encode }}&year={{ entry.case_added_date|date("Y") }}">{{ entry.forensic_investigator|length > 20 ? entry.forensic_investigator|slice(0, 20) ~ '...' : entry.forensic_investigator }}</a>
      </td>
      {% endif %}

      {% if show_columns.mobile_examiner != "hide" %}
      <td>{% if entry.case_contains_mob_dev == "1" and not entry.phone_investigator %}<b style="color:red">{{ lang.no_examiner_assigner }}</b>
        {% elseif entry.case_contains_mob_dev != "1" and not entry.phone_investigator %}<span style="color:lightgrey">-</span>{% endif %}<a href="index.php?search={{ "\"" ~ entry.phone_investigator ~ "\""|url_encode }}&year={{ entry.case_added_date|date("Y") }}">{{ entry.phone_investigator|length > 20 ? entry.phone_investigator|slice(0, 20) ~ '...' : entry.phone_investigator }}</a></td>
      {% endif %}

      {% if show_columns.date_added != "hide" %}
      <td title="{{ lang.requested }} {{ entry.case_added_date|date("d.m.Y") }}, {{ lang.started }} {{ entry.case_start_date|date("d.m.Y") }}{% if entry.case_ready_date is not empty %}, {{lang.ready_at}} {{ entry.case_ready_date|date("d.m.Y") }}{% endif %}" style="width:1%;white-space:nowrap;">{{ entry.case_added_date|date("d.m.Y") }}</td>
      {% endif %}

      <td style="width:1px;">
        {% if show_columns.icon_attachments != "hide" %}
        {% if entry.id in attachments %}
        <i class="fa fa-paperclip" style="color:#D00;font-size:1em;"></i>
        {% else %}
        <i class="fa fa-paperclip" style="color:#DDD;font-size;1em;"></i>
        {% endif %}
        {% endif %}
      </td>

      <td style="width:1px;">
        {% if show_columns.icon_mobile != "hide" %}
        {% if entry.case_contains_mob_dev == "1" %}
        <i class="fa fa-mobile" style="color:#0A0;font-size:1.4em;"></i>
        {% else %}
        <i class="fa fa-mobile" style="color:#DDD;font-size;1.1em;"></i>
        {% endif %}
        {% endif %}
      </td>


       <td style="width:1px;">
         {% if show_columns.icon_report_notes != "hide" %}
         {% if entry.report_notes %}
         <i class="fa fa-comment-o" style="color:#00D;font-size:1.2em;"></i>
         {% else %}
         <i class="fa fa-comment-o" style="color:#DDD;font-size:1.1em;"></i>
         {% endif %}
         {% endif %}
       </td>

       <td style="width:1px;">
         {% if show_columns.access_group != "hide" %}
         {% if entry.case_owner %}
         {% if session.user.username in entry.case_owner %}
         <i style="color:green;" class="fa fa-unlock-alt"></i>
         {% else %}
         <i title="{{ lang.not_in_access_group }}" style="color:red;" class="fa fa-lock"></i>
         {% endif %}
         {% else %}
         <i class="fa fa-unlock-alt" style="color:#DDD;font-size:1.1em;"></i>
         {% endif %}
         {% endif %}
       </td>


       <td style="width:1px;">
         {% if show_columns.device_count != "hide" %}
         {% set device_counter = device_counter + entry.case_devicecount %}
         {% if entry.case_devicecount > 0 %}
         <span style="color:#000;font-size:1.2em;">{{ entry.case_devicecount }}</span>
         {% else %}
         <span style="color:#DDD;font-size:1.1em;">0</span>
         {% endif %}
         {% endif %}
       </td>

      </tr>
      {% endif %}
      {% endfor %}
      {% for entry in row_cases %}
      {% if (entry.id != entry.parent_id) and (entry.is_removed == "0") %}
      <tr>
        <td colspan="999">
          <i class="fa fa-cube"></i> {% set device_counter = (device_counter + 1) %}{{ lang.search_found_device }}: <a href="device_memo.php?uid={{ entry.id }}">{{ entry.device_type }}, {{ entry.device_manuf }} {{ entry.device_model }}{% if entry.device_identifier %}, {{ lang.identifier }} {{ entry.device_identifier }}{% endif %}{% if entry.device_owner %}, {{ lang.owner }} {{ entry.device_owner }}{% endif %}</a> (<a href="edit_request.php?case={{ entry.parent_id }}&tab=devices">{{ lang.go_to_request }}</a>)
        </td>
      </tr>
      {% endif %}
      {% endfor %}
      {% if show_columns.filters != "hide" %}
      <tr>
        <td colspan="999">
          {{ lang.filter_by_status }}: {% if query_s == "1" %} {{ lang.showing_new }} <a href="index.php?year={{ dateStart|date("Y") }}{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"><span class="label label-primary">{{ lang.all|capitalize }}</span> {% elseif query_s == "2" %} {{ lang.showing_open }} <a href="index.php?year={{ dateStart|date("Y") }}{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"><span class="label label-primary">{{ lang.all|capitalize }}</span> {% elseif query_s == "3" %} {{ lang.showing_closed }} <a href="index.php?year={{ dateStart|date("Y") }}{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"><span class="label label-primary">{{ lang.all|capitalize }}</span> {% else %} {{ lang.no_filtering }}{% endif %} {% if query_s != "1" %} <a href="index.php?year={{ dateStart|date("Y") }}&s=1{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"><span class="label label-primary">{{ lang.new|capitalize }}</span></a>{% endif %}{% if query_s != "2" %} <a href="index.php?year={{ dateStart|date("Y") }}&s=2{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"><span class="label label-primary">{{ lang.open|capitalize }}</span></a>{% endif%}{% if query_s != "3" %} <a href="index.php?year={{ dateStart|date("Y") }}&s=3{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"><span class="label label-primary">{{ lang.ready|capitalize }}</span></a>{% endif %}
        <span class="pull-right">
          {% if query_j or query_d %}<a type="button" class="btn btn-danger btn-xs" href="index.php?year={{ dateStart|date("Y") }}{% if query_s %}&s={{ query_s }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"> <i class="fa fa-remove"></i><i class="fa fa-sort"></i> {{ lang.remove_ordering }}</a>{% endif %}
          {% if query_s %}<a type="button" class="btn btn-danger btn-xs" href="index.php?year={{ dateStart|date("Y") }}{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if search_term %}&search={{ search_term|replace({"\+": "%2B"}) }}{% endif %}"> <i class="fa fa-remove"></i><i class="fa fa-filter"></i> {{ lang.remove_filtering }}</a>{% endif %}
          {% if search_term %}<a type="button" class="btn btn-danger btn-xs" href="index.php?year={{ dateStart|date("Y") }}{% if query_j %}&j={{ query_j }}{% endif %}{% if query_d %}&d={{ query_d }}{% endif %}{% if query_s %}&s={{ query_s }}{% endif %}"> <i class="fa fa-remove"></i><i class="fa fa-search"></i> {{ lang.remove_search_term }}</a>{% endif %}
        </span>
      </td>
      </tr>
      {% endif %}

      {% if show_columns.device_count != "hide" %}
      <tr><td colspan="999"><i class="fa fa-info-circle"></i> {{ lang.showing_a_total_of }} {{device_counter}} {{ lang.devices_in }} {{counter}} {{lang.requests}} ({{new_counter}} {{lang.new}}, {{open_counter}} {{lang.open}}, {{ready_counter}} {{lang.ready}}.).</td></tr>
      {% endif %}

    </tbody>
  </table>
{% else %}
{% if search_term %}
<div class="alert alert-warning" role="alert">{{ lang.no_search_results }}</div>
{% else %}
<div class="alert alert-info" role="alert">{{ lang.no_requests_to_show }}</div>
{% endif %}
{% endif %}

<form class="form-inline" action="import_krf.php" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<input class="btn btn-xs btn-default" type="file" name="fileToUpload[]" id="fileToUpload">
	</div>
	<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-upload"></i> .krf {{ lang.upload|lower }} <span id="upload-file-info"></span></button>

 </form>

</div>
{% endblock %}
