{% extends 'base.twig'%}
{% block reroute %}
<META http-equiv="refresh" content="1200;URL=add_case.php">
{% endblock reroute %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1>{{ lang.examination_request_submitted }}, {{ lang.request_number }} {% if session.user.access <= 2 %}<a href="edit_request.php?case={{id}}">{{ case_id }}</a>{% else %}{{ case_id}}{% endif %}.</h1>
  <hr>
  <a class="btn btn-success" href="add_case.php" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ lang.return_to_submit_request }}</a>
  <a class="btn btn-info" href="print_sticker.php?uid={{ id }}&type=examination_request" target="_blank" role="button"><i class="fa fa-print"></i> {{ lang.print_sticker }}</a>
  <p>
  <div class="well">
    <p><b>{{ lang.notice|upper }}</b>
    <p>{{ lang.print_sticker_reminder }}</p>
  </div>
  </p>
</div>
{% endblock %}
